.dark {
  background-color: black;
  color: white;
  h1 {
    color: white;
  }
  p {
    color: green;
  }
  button{
    color: cadetblue;
    background-color:darkblue;
  }
  a{
    color: goldenrod;
  }
}
